.devicon-ruby-plain {
  display: block;
  width: 100%;
}


img.bio-pic {
    width: 30%;
    margin: 20px auto;
    border: 1px solid;
}


.inner {
  margin-top: -50px;

}

.inner.gallery {
    font-size: 100px;
}

.box.style2 .inner .row:before {
  border: none;
}

.box.style2 .inner {
  padding-top: 80px
}

.contact-container {
  padding-top: 20px;
}

.inner h2 {
  display: inline;
}

.inner header > a {
  display: inline;
  float: right;
  margin-left: 10px;
  text-decoration: underline;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

a.button.style2.scrolly-middle {
  margin: 0 10px;
}

a.button.style2.scrolly-middle:last-child {
  margin: 0 0 0 10px;
}

a.button.style2.scrolly-middle:last-child {
  margin-right: -18px;
}
